@page
@model Foodies.Pages.DeliveryPartners.IndexModel

@{
    ViewData["Title"] = "Delivery Partners Diectory";
}
<div class="container">
    <h1>Delivery Partners Directory</h1>

    <p>
        <a asp-page="Create">Add a new Delivery Partner</a>
    </p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryPartner[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryPartner[0].ContactNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryPartner[0].Email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DeliveryPartner)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.DeliveryPartnerId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.DeliveryPartnerId">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.DeliveryPartnerId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>